extend ../layout

block content

	.container(style='margin-bottom: 60px;')
		.row
			#myCarousel.carousel.slide
				// 轮播（Carousel）指标
				ol.carousel-indicators
					li.active(data-target='#myCarousel', data-slide-to='0')
					li(data-target='#myCarousel', data-slide-to='1')
					li(data-target='#myCarousel', data-slide-to='2')
				// 轮播（Carousel）项目
				.carousel-inner
					.item.active
						a(href='/movie/5ab259803fd1c41c3082a443')
							img(src='/images/poster/heibao.jpg', alt='First slide',style="width: 1500px; height:400px")
					.item
						a(href='/admin/movie/list')
							img(src='/images/poster/2.jpg', alt='Second slide',style="width: 1500px; height:400px")
					.item
						a(href='/admin/movie/list')
							img(src='/images/poster/3.jpg', alt='Third slide',style="width: 1500px; height:400px")
				// 轮播（Carousel）导航
				a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
				a.carousel-control.right(href='#myCarousel', data-slide='next') ›


		.row(style="margin-top: 15px;")
			each cat in categories
				.panel.panel-primary
					.panel-heading
						h3= cat.name
						h3
							a(href='/results?cat='+cat.id+'&p=0') 更多电影
					.panel-body
						if cat.movies && cat.movies.length>0
							each item in cat.movies
								.col-md-2
									.thumbnail
										a(href="/movie/"+item._id)
											if item.poster.indexOf('http:')
												img(src=item.poster, alt=item.title, style="width: 180px; height:236px")
											else
												img(src="/upload/"+item.poster, alt=item.title, style="wiidth: 180px; height:236px")
												//(style="text-align:center;")
										.caption
											h3(style="text-align:center;font-weight:bold")= item.title
											h5(style="text-align:center;color:#EE4000")= item.year
											p(style="text-align:center; margin-top: 40px;"): a.btn.btn-primary(href="/movie/"+ item._id, role="button") 详情
											//- 要紧挨并且有空格，要不报错
